name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test Application
    runs-on: ubuntu-latest
    
    services:
      mongo:
        image: mongo:latest
        ports:
          - 27017:27017

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25' 
        check-latest: true

    - name: Install Dependencies
      run: go mod download

    - name: Run Tests
      env:
        MONGO_DB_URL_TEST: mongodb://localhost:27017
        MONGO_DB_NAME: hotel_test_db
        # حواست باشه این Secret رو توی تنظیمات گیت‌هاب ساخته باشی
        JWT_SECRET: ${{ secrets.TEST_JWT_SECRET }} 
      run: go test -v ./...

   # - name: Run Linters
    #   uses: golangci/golangci-lint-action@v6
    #   with:
    #     version: latest