name: Go Test & Lint

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    name: Test & Build
    runs-on: ubuntu-latest
    
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Install dependencies
      run: go mod download

    - name: Run Linter (GolangCI-Lint)
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest

    - name: Run Tests
      env:
        MONGO_DB_URL_TEST: ${{ vars.MONGO_DB_URL_TEST }}
        MONGO_DB_NAME: ${{ vars.MONGO_DB_NAME }}
        
        JWT_SECRET: ${{ secrets.TEST_JWT_SECRET }}
      run: go test -v ./...